
div{
    margin: 20px;
    padding:20px;
    background-color: rgb(24, 234, 24);
    display: inline-block;
}



span{
    margin: 20px; 
    padding: 20px; 
    background-color: rgb(255, 0, 153); 
    display: block;
}

.special{
    position:sticky
    position:fixed;
    position: relative;
    left: 30px;
    top: 30px;
    position: fixed;
    right: ;
    bottom: ;

}
footer{
    background-color: black;
}